### Sum of all even numbers in list

In [ ]:
# Sum of all even numbers in list
def sum_even(numbers):
    return sum(n for n in numbers if n % 2 == 0)

# Example
sum_even([1, 2, 3, 4, 5, 6])

### Reverse a string

In [ ]:
# Reverse a string
def reverse_string(s):
    return s[::-1]

# Example
reverse_string('Python')

### Squares of a list of integers

In [ ]:
# Squares of a list of integers
def square_list(lst):
    return [x**2 for x in lst]

# Example
square_list([1, 2, 3, 4])

### Check if a number is prime (1 to 200)

In [ ]:
# Check if a number is prime (1 to 200)
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            return False
    return True

# Example
is_prime(197)

### Iterator class for Fibonacci sequence

In [ ]:
# Iterator class for Fibonacci sequence
class Fibonacci:
    def __init__(self, limit):
        self.a, self.b, self.limit = 0, 1, limit

    def __iter__(self):
        return self

    def __next__(self):
        if self.a > self.limit:
            raise StopIteration
        val = self.a
        self.a, self.b = self.b, self.a + self.b
        return val

# Example
list(Fibonacci(50))

### Generator for powers of 2 up to given exponent

In [ ]:
# Generator for powers of 2 up to given exponent
def powers_of_two(n):
    for i in range(n+1):
        yield 2**i

# Example
list(powers_of_two(5))

### Generator for yielding lines in a file

In [ ]:
# Generator for yielding lines in a file
def line_reader(filepath):
    with open(filepath, 'r') as file:
        for line in file:
            yield line.strip()

# Usage would be like:
# for line in line_reader('file.txt'):
#     print(line)

### Sort tuples by second element using lambda

In [ ]:
# Sort tuples by second element using lambda
data = [(1, 3), (2, 1), (4, 2)]
sorted_data = sorted(data, key=lambda x: x[1])
sorted_data

### Convert Celsius to Fahrenheit using map()

In [ ]:
# Convert Celsius to Fahrenheit using map()
celsius = [0, 20, 37, 100]
fahrenheit = list(map(lambda c: (9/5)*c + 32, celsius))
fahrenheit

### Remove all vowels from a string using filter()

In [ ]:
# Remove all vowels from a string using filter()
def remove_vowels(s):
    return ''.join(filter(lambda x: x.lower() not in 'aeiou', s))

# Example
remove_vowels('Beautiful Python')

### Accounting routine with lambda and map

In [ ]:
# Accounting routine with lambda and map
orders = [
    [34587, 'Learning Python, Mark Lutz', 4, 40.95],
    [98762, 'Programming Python, Mark Lutz', 5, 56.80],
    [77226, 'Head First Python, Paul Barry', 3, 32.95],
    [88112, 'Einf√ºhrung in Python3, Bernd Klein', 3, 24.99]
]

order_totals = list(map(
    lambda order: (order[0], round(order[2] * order[3] + (10 if order[2] * order[3] < 100 else 0), 2)),
    orders))

order_totals