In [1]:
#1) Write a code to create a string with your name and print it
name = "Rachit Verma"
print(name)

Rachit Verma

In [3]:
#2) Write a code to find the length of the string "Hello World"
s = "Hello World"
print(len(s))

11

In [7]:
#3) Write a code to slice the first 3 characters from the string "Python Programming".
text = "Python Programming"
print(text[:3])

Pyt

In [8]:
#4) Write a code to convert the string "hello" to uppercase
s = "hello"
print(s.upper())

HELLO

In [9]:
#5) Write a code to replace the word "apple" with "orange" in the string "I like apple"
s = "I like apple"
s = s.replace("apple", "orange")
print(s)

I like orange

In [10]:
#6) Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [11]:
#7) Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [13]:
#8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [14]:
#9) Write a code to access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [15]:
#10) Write a code to reverse the list [10, 20, 30, 40, 50]
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [16]:
#11) Write a code to create a tuple with the elements 100, 200, 300 and print it.
numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

In [17]:
#12) Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [18]:
#13)  Write a code to find the minimum number in the tuple (10, 20, 5, 15)
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [19]:
#14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [20]:
#15) Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ('apple', 'banana', 'orange')
print('kiwi' in fruits)  # This will print False since 'kiwi' is not in the tuple

False

In [21]:
#16)  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
fruits = {'a', 'b', 'c'}
print(fruits)

{'a', 'c', 'b'}

In [22]:
#17) Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)  # This will print an empty set: set()

set()

In [23]:
#18) Write a code to remove the element 4 from the set {1, 2, 3, 4}.
numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)  # This will print {1, 2, 3}

{1, 2, 3}

In [24]:
#19)  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)  # This will print {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [25]:
#20) Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)  # This will print {2, 3}

{2, 3}

In [26]:
#21) Write a code to create a dictionary with the keys "name", "age", and "city", and print it
person = {
    "name": "John",
    "age": 30,
    "city": "New York"
}
print(person)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [27]:
#22) Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
d = {"name": "John", "age": 25}
d["country"] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [28]:
#23) Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
d = {"name": "Alice", "age": 30}
print(d["name"])

Alice

In [29]:
#24) Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d = {"name": "Bob", "age": 22, "city": "New York"}
del d["age"]
print(d)

{'name': 'Bob', 'city': 'New York'}

In [30]:
#25)  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
d = {"name": "Alice", "city": "Paris"}
print("city" in d)

True

In [31]:
#26) Write a code to create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

In [32]:
#27)  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[20, 42, 75, 86, 90]

In [1]:
#28) Write a code to create a list with strings and print the element at the third index.
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

In [2]:
#29)  Write a code to combine two dictionaries into one and print the result
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)  # This will print {'a': 1, 'b': 2, 'c': 3, 'd': 4}

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [3]:
#30)  Write a code to convert a list of strings into a set.
words = ["apple", "banana", "cherry", "apple"]
unique_words = set(words)
print(unique_words)  # This will print {'banana', 'cherry', 'apple'}

{'cherry', 'banana', 'apple'}